 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>会員情報</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>                       
                                     <li class="breadcrumb-item active" aria-current="page">会員情報</li>
                                 </ol>
                             </nav> 
                             
                             <div th:if="${upgradeSuccessMessage}" class="alert nagoyameshi-alert-info">
		                         <span th:text="${upgradeSuccessMessage}"></span>
		                     </div>  
		                     <div th:if="${downgradeSuccessMessage}" class="alert nagoyameshi-alert-info">
		                         <span th:text="${downgradeSuccessMessage}"></span>
		                     </div> 
                             
                             <h1 class="mb-3 text-center">会員情報</h1> 
                             
						  
		          
                             <div class="d-flex justify-content-end align-items-end mb-3">                    
                                 <div>
                                     <a th:href="@{/user/edit}">編集</a>                        
                                 </div>
                             </div>                                       
                             
                             <div th:if="${successMessage}" class="alert nagoyameshi-alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                               
                             
                             <div class="container mb-4">
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">氏名</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getFullName()}"></span>
                                     </div>
                                 </div>                    
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">フリガナ</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getKana()}"></span>
                                     </div>
                                 </div>            
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">メールアドレス</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getEmail()}"></span>
                                     </div>
                                 </div>   
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">パスワード</span>
                                     </div>
             
                                     <div class="col">
                                         <a th:href="@{/newpw-login}">リセットする</a>
                                     </div>
                                 </div>   
                                 
                                 <div class="row pb-2 mb-2 border-bottom" sec:authorize="hasAnyAuthority('ROLE_PAID')">
                                     <div class="col-4">
                                         <span class="fw-bold" >会員ステータス</span>
                                     </div>
             
                                     <div class="col">
										 <span sec:authorize="hasAnyAuthority('ROLE_PAID')" 
									     th:text="有料会員"></span>
                                     </div>
                                 </div>
<!--                                 <form method="get" th:action="@{/user/downgrade}">-->
                                 <div class="row pb-2 mb-2 border-bottom" sec:authorize="hasAnyAuthority('ROLE_PAID')">
								    <form method="POST" th:action="@{/user/downgrade}">
								        <div class="form-group">
								            <!-- Subscription downgrade button triggers the modal -->
								            <button type="button" data-bs-toggle="modal" data-bs-target="#downgradeModal" class="btn text-white shadow-sm w-100 nagoyameshi-btn">解約する</button>
								        </div>
								    </form>
								</div>
								
								<!-- Downgrade confirmation modal -->
								<div class="modal fade" id="downgradeModal" tabindex="-1" aria-labelledby="downgradeModalLabel" aria-hidden="true">
								    <div class="modal-dialog">
								        <div class="modal-content">
								            <div class="modal-header">
								                <h5 class="modal-title" id="downgradeModalLabel">解約してもよろしいですか？</h5>
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
								            </div>
								            <div class="modal-body">
								                <h6>・解約後は有料機能（レビュー投稿、お気に入り登録、予約機能）が使えなくなります。</h6>
								                <h6>・解約する場合、解約を申請した月の末日まで支払いが発生します。期間中は有料機能の使用が可能です。</h6>
								            </div>
								            <div class="modal-footer">
								                <form method="post" th:action="@{/user/downgrade}">
								                    <!-- Subscription ID will be passed with the form -->
								                    <input type="hidden" name="subscription_id" th:value="${subscriptionId}" />
								                    <button type="submit" class="btn nagoyameshi-btn-danger text-white shadow-sm">解約する</button>
								                </form>
								            </div>
								        </div>
								    </div>
								</div>
                                 
                                 <div class="row pb-2 mb-2 border-bottom" sec:authorize="hasAnyAuthority('ROLE_GENERAL')">
                                     <div class="col-4">
                                         <span class="fw-bold">会員ステータス</span>
                                     </div>
             
                                     <div class="col">
										 <span sec:authorize="hasAnyAuthority('ROLE_GENERAL')" 
						
									     th:text="無料会員"></span>
                                     </div>
                                 </div>  
                             </div> 
                             <div sec:authorize="hasAnyAuthority('ROLE_GENERAL')">
                                 <a th:href="@{/user/upgrade}" class="btn text-white shadow-sm w-100 nagoyameshi-btn">
								    有料プランに登録する
								</a> 
                             </div>                                                                                                                                                         
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
          <script src="https://js.stripe.com/v3"></script>
         <script th:inline="javascript">
             const sessionId = /*[[${sessionId}]]*/"sessionId";                
         </script>        
         <script th:src="@{/js/stripe.js}"></script>   
   </body>
 </html>