 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>会員情報</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>                       
                                     <li class="breadcrumb-item active" aria-current="page">アップグレード</li>
                                 </ol>
                             </nav> 
                             
                             <div th:if="${upgradeSuccessMessage}" class="alert nagoyameshi-alert-info">
		                         <span th:text="${upgradeSuccessMessage}"></span>
		                     </div> 
		                   
		                     
		                     <h1 class="mb-3 text-center">有料プランに登録する</h1>  
		                     <p class="justify-content-center">有料プランに登録すると以下の機能・特典を利用できます。</p>
		                     
		                     <div class="card mb-4">
								 <div class="card-header text-center" >有料プランの内容</div>
								 <ul class="list-group list-group-flush">
									 <li class="list-group-item">・店舗を好きなだけお気に入り登録可能</li>
									 <li class="list-group-item">・オンライン予約が可能（予約数に達した場合や営業時間外の場合は、店舗から連絡が来ます。）</li>
									 <li class="list-group-item">・レビューの投稿が可能</li>
									 <li class="list-group-item">・月額たったの３００円</li>
								 </ul>
							 </div>
                                 <div sec:authorize="hasAnyAuthority('ROLE_GENERAL')">
									 
									 
                                     <div class="form-group mt-5"> 
										 <form action="/user/create-checkout-session" method="POST">
<!--										 <a href="/upgrade" class="btn">有料プランに登録する</a>-->
										 <input type="hidden" name="priceId" value="price_1Q9M3bG1Q8EB8XUacUbkFtmb" />
										 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                         <button type="submit" id="subscribeButton" class="btn text-white shadow-sm w-100 nagoyameshi-btn">支払い登録に進む</button>
                                     	 </form>
                                     </div>  
                                 </div>                                
                             </div>                                                                                                                           
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
          <script src="https://js.stripe.com/v3"></script>
         <script th:inline="javascript">
             const sessionId = /*[[${sessionId}]]*/"sessionId";                
         </script>        
         <script th:src="@{/js/stripe.js}"></script>   
   </body>
 </html>